{% extends "pokemon/base.html.j2" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <h2>{{ mon.name }}</h2>
                <img src="{{ sprite.url }}">
            </div>
        </article>
{% endblock content %}